<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <link href="style.css" rel="stylesheet" type="text/css" />
    <title>TEST1001A</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
  
</head>
<body bgcolor="#DFDFDF">
 <form id="form1" runat="server">
    <div id="main">
        <div id="header">
            <div id="test_code">
                TEST1001</div>
            <div id="test_name">
                Psychological Experiment</div>
        </div>
    
   
    <div id="content">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        
          <div id="copyright">Developed by Room0214</div>
    </div>
    
  
  
    </div>
      </form>
</body>
</html>
